@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles for the Luna theme using TailwindCSS */
@layer base {
  html,
  body,
  #q-app {
    height: 100%;
    @apply bg-night-900 text-moon-500;
  }
}
